*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
}
.head{
    /*alinea los elementos uno delante de otro*/
    display: flex;
    /*ancho del 100%*/
    width: 100%;
    /*altura de un 10% de la pantalla*/
    height: 10vh;
    /*alineacion de los elementos al centro de la columna*/
    align-items: center;
    /*quita las viñetas de la lista*/
    list-style: none;
    /*coloca los elementos al final de la fila*/
    justify-content: flex-end;
    background-color: white;
}
li{
    /*genera un espacio entre los elementos*/
    padding: 10px;
}
.head a{
    /*quita las viñetas de la lista*/
    text-decoration: none;
    /*color de fuente*/
    color: black;
}
/*decoracion de boton acceder*/
.head button{
    /*ancho*/
    width: 80px;
    /*alto*/
    height: 30px;
    /*color de fondo*/
    background-color: blue;
    /*borde*/
    border: none;
    /*color de fuente de boton*/
    color:white;
    /*borde redondeado*/
    border-radius: 5px;
}
/*hace cursor puntero sobre el boton de acceder*/
.accs:hover{
    cursor: pointer;
}
.logo{
    /*ancho del div que contiene el logo 100% del viweport*/
    width: 100%;
    /*altura del div contenedor*/
    height: 11vh;
    /*display flex*/
    display: flex;
    /*alinea el elemento al centro de la fila*/
    justify-content: center;
    /*despega el elemento del elemento de arriba*/
    margin-top: 5px;
    background-color: white;
}
main{
    width: 100%;
}
.bar{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 20px;
}
.search-bar{
    background-color: white;
    width: 600px;
    height: 8vh;
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: gray 1px solid;    
}
.search-input{
    width:95%;
    height: 100%;
    font-size: 15px;
    color: black;
    border: none;
}
input:focus{
    outline: none;
}
#mic-icon:hover{
    cursor: pointer;
}
.btns{
    background-color: white;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: center;
}
.medium{
    margin: 15px;
    background-color: white;
    border: none;
    width: 190px;
    height: 60px;
}
.medium:hover{
    cursor: pointer;
    background-color: aliceblue;
}
.end-bar{
    width: 100%;
    height: 10vh;
    position: absolute;
    background-color: white;
    bottom: 9vh;
    display: flex;
    justify-content: left;
    align-items: center;
}
.mx{
    width: 100px;
    height: 40px;
    margin-left: 5px;
    border: none;
    background-color: white;
}
.mx:hover{
    background-color: aliceblue;
}
footer{
    width: 100%;
    height: 9vh;
    background-color: white;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0px;
}
.end{
    width: 100px;
    height: 40px;
    background-color: white;
    border: none;
}
#large{
    width: 200px;
}
.left{
    margin-right: 500px;
    margin-left: 0px;
}
.end:hover{
    cursor: pointer;
    background-color: aliceblue;
}
